body{
    margin: 0;
    padding: 0%;
}


.contactContainer{
    margin-top: 10rem;
}

.textoContacto{
    color: white;
    text-align: center;
}

.containerActivity{
    margin-top: 5rem;
}

.tittleActivity{
    color: white;
    text-align: center;
}

.textActivity{
    color: white;
    font-weight: 300;
    width: 15rem;
    margin-left: 2.5rem;
}

.moreGrafik{
    color: white;
    text-align: center;
    font-weight: 500;
    margin-top: 25rem;
}

.contenedor-papa-banner{
    display: flex;
    align-content: end;
    margin-top: 8rem;
    margin-left: -35rem;
}

.comentario-dashboard{
    margin-top: 91rem;
    position: absolute;
    margin-left: 27rem;
}

.titulo-comentario{
    font-family: 'Sora', sans-serif;
    position: absolute;
    padding-top: 105rem;
    padding-left: 55rem;
    text-align: end;
    width: 33rem;
}

