.project-pic{
    width: 12.375rem;
    height: 12,9rem;
    border-radius: 1.875rem;
    position: relative;
    padding-left: 30px;
    padding-top: 5.0625rem;
    margin-left: 8rem;
    z-index: 1;
    opacity: 40%;
}
.post-contenedor{
    border-radius: 1.25rem;
    background: #ffffff;
    width: 60.625rem;
    height: 34.0625rem;
    position: absolute;
    filter: drop-shadow(10px 5px 10px rgba(0, 0, 0, 0.25));
    margin-top: 1rem;
}

.text-upload{
    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.comentario-dashboard{
    display: flex;
    padding-top: 76rem;
    position: absolute;
    left: 40rem;
    z-index: 1;
}
.heart{
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    position: relative;
}

.send{
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    position: relative;
    padding-left: 14rem;
}

.nombre-user{
    font-family: 'Poppins', sans-serif;
    margin-left: 4.5rem;
    font-weight: 600;
}

.descripcion{
    font-family: 'Poppins', sans-serif;
    margin-left: 4.5rem;
    margin-top: -1rem;
    font-size: 0.9rem;
}

.containericons{
    gap: 8rem;
    padding-top: 25.4rem;
    margin-left: 1.5rem;
    
}

.input-link{
    font-family: 'Poppins', sans-serif;
    width: 10rem;

}