.container{
    display: flex;
    justify-content: center;
}

.rectangle-container{
    border-radius: 2.1875rem;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #D9D9D9 93.73%);
    width: 27.5625rem;
    height: 40.7rem;
}
.grafik-text{
    font-family: 'Sora', sans-serif;
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo-grafik{
    width: 3.4375rem;
    height: 3.4375rem;
}
.text-welcome-join{
    font-family: 'Poppins', sans-serif;
    color: var(--Purple, #601FEB);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.social-media-buttons1{
    width: 1.5rem;
    height: 1.5rem;
}
.social-media-buttons2{
    width: 1.5rem;
    height: 1.5rem;
}
.social-media-buttons3{
    width: 1.5rem;
    height: 1.5rem;
}
.small-text{
    font-family: 'Poppins', sans-serif;
    color: rgba(46, 46, 46, 0.77);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.container-button{
    display: flex;
    justify-content: center;
    gap: 4.5rem;
}