.input {
    width: 26.25rem;
    height: 3.3125rem;
    border-radius: 5.8125rem;
    background: #d3d3d3;
    border: none;
    padding-left: 1rem;
    margin-top: -1.2rem;
}
  
  .container-input {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin-top: -49.5rem;
    padding-bottom: 1rem;
    margin-left: 45rem;
  }

  .container-input h1{
    color: #111;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
.container-input p{
    color: rgba(46, 46, 46, 0.77);
    font-family: Poppins;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

  ::placeholder {
    font-family: 'Poppins', sans-serif;
    color: rgba(46, 46, 46, 0.46);
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
  .input:focus {
    background-color: #601FEB;
    color: white;
    border: none; 
  }
  
  .input:focus::placeholder {
    color: white;
  }

  .button{
    width: 12.5625rem;
    height: 2.5rem;
    border-radius: 5.8125rem;
    background: #B9E901;
    border: none;
    color: #601FEB;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5.5rem;
}

.button:hover{
    width: 12.5625rem;
    height: 2.5rem;
    border-radius: 5.8125rem;
    background: transparent;
    border-color: #B9E901;
    color: #601FEB;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5.5rem;
}