.logoFooter{
    font-family: 'Poppins', sans-serif;
    color: #601FEB;
    font-size: 1.4rem;
    position: absolute;
    margin-bottom: -5rem;
    margin-left: 19rem;
}

.opcionesFooter{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration:none;
    margin-right: 2.5rem;
}

/* .footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-top: 130rem;
    margin-left: -49rem;
    width: 60rem;
} */