.container-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.35rem;
    gap: 0.8rem;
}

.container-signup button{
    width: 5rem;
    height: 2rem;
    border-radius: 5.8125rem;
    background: #B9E901;
    color: #601FEB;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

.container-signup button:hover{
    background: #601FEB;
    color: #B9E901;
}

.link{
    color: #000;
    font-family: Poppins;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}