.nav-bar-container{
    margin-left: 25rem;
    margin-bottom: -2.7rem;
    display: flex;
    padding-left: 2rem;
    }
    
    .icons-container{
        display: flex;
        gap: 1rem;
        margin-left: 48rem;
        padding-top: 2rem;
    }
    .app-img{
        width: 2rem;
        height: 2rem;
        background-color:#B9E901;
        border: 4px solid #B9E901;
        border-radius: 50%;
    }
    .bell-img{
        width: 2rem;
        height: 2rem;
    }
    
    .icons-container button{
        border-radius: 0.625rem;
        background: #601FEB;
        width: 6.375rem;
        height: 2.25rem;
        flex-shrink: 0;
        border-style: none;
        color: rgb(255, 255, 255);
        font-family: 'Poppins', sans-serif;
        font-size: 0.89rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.09375rem;
        }
    
    .icons-container button:hover{
        background: #B9E901;
        color: black
    }