.container-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
    gap: 1rem;
}

.container-login{
    padding-left: 45.2rem;
    padding-top: 2rem;
}

.container-login button{
    border-radius: 5.8125rem;
    background: #601FEB;
    font-family: 'Poppins', sans-serif;
    color: #B9E901;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 5rem;
    height: 2rem;
    border: none;
}

.container-login button:hover{
    background: #B9E901;
    color: #601FEB;
}

.container-signup button{
    width: 5rem;
    height: 2rem;
    border-radius: 5.8125rem;
    background: #B9E901;
    color: #601FEB;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

.container-signup button:hover{
    background: #601FEB;
    color: #B9E901;
}

.link-account{
    color: #000;
    font-family: Poppins;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}