.bck-img1 img {
    border-radius: 50%;
    background-color: #C8FFAB;
    border: 0.5rem solid #601FEB;
    width: 7rem;
    height: 7rem;
}

.bck-img1{
    transform: rotate(-34.308deg);
    margin-left: 10rem;
    position: absolute;
    margin-top: -35rem;
}

.bck-img2 img{
    border-radius: 50%;
    background-color: #B9E901;
    border: 4px solid #B9E901;
    width: 2.5rem;
    height: 2.5rem;
}

.bck-img2{
    position: absolute;
    transform: rotate(17.805deg);
    margin-left: 17rem;
    margin-top: -43rem;
}

.bck-img3 img{
    border-radius: 50%;
    background-color: #EDEDED;
    border: 0.5rem solid #B9E901;
    width: 6rem;
    height: 6rem;
}

.bck-img3{
    position: absolute;
    transform: rotate(13.935deg);
    margin-left: -1.5rem;
    margin-top: -12rem;
    width: 6rem;
}

.bck-img4 img{
    border-radius: 50%;
    width: 3.3rem;
    height: 3.3rem;
}

.bck-img4{
    position: absolute;
    transform: rotate(-27.811deg);
    margin-top: -5rem;
    margin-left: 14rem;
}

.bck-img5 img{
    border-radius: 50%;
    width: 3.3rem;
    height: 3.3rem;
}

.bck-img5{ 
    transform: rotate(-32.886deg);
    margin-left: 78rem;
    margin-top: -40rem;
    position: absolute;
}

.bck-img6 img{
    border-radius: 50%;
    border: 0.5rem solid #B9E901;
    width: 6.5rem;
    height: 6.5rem;
}

.bck-img6{ 
    transform: rotate(44.423deg);
    margin-left: 70rem;
    margin-top: -15rem;
    position: absolute;
}

.bck-img7 img{
    border-radius: 50%;
    background-color: #C8FFAB;
    border: 4px solid #601FEB;
    width: 3.3rem;
    height: 3.3rem;
    position: relative;
    margin-top: 1rem;
}